
.chat-main
  .chat-main__group-info
    .group__name-left
      .left__name
        = @group.name
      .left__member-name
        - @group.users. each do |user|
          = user.name
    .group__edit-right
      = link_to edit_group_path(@group) , class: " group__edit-btn" do
        Edit
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        .input-box 
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit__btn'